server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:file:./data/storingdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: false

analysis:
  service:
    url: http://file-analysis-service:8082